body {
	background-color: #1E0000;
	background-image: url("twink.gif");
	color: #BC0000;
	font-size: 15px;
	font-family: arial;
	margin: 0;
	padding: 0;
}
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
	border: 0;
}
::selection {
	background:#685A5A;
	color:#1E0000;
}
::-moz-selection {
	background:#685A5A;
	color:#1E0000;
}
a {
	color:inherit;
	text-decoration:underline;
	font-weight:inherit;
}
a:hover {
	color:#685A5A;
	text-decoration:underline;
	font-weight:inherit;
}
a:active {
	color:#685A5A;
	text-decoration:inherit;
	font-weight:inherit;
}
h1 {
	font-size:16px;
	color:#685A5A;
	position:relative;
	left:-8px;
}
.rotty {
	width:333px;
	height:135px;
	background-image:url("rotgut.png");
	background-size:100%;
	margin:auto;
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
}
.rotty:hover {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
}
.rotcont {
	width:333px;
	height:135px;
	margin:auto;
	margin-top:3.5%;
}
.speakerL {
	float:left;
	position:relative;
	left:-40px;
	top:40px;
	cursor:crosshair;
	width:69px;
	height:106px;
	background-image:url(speakerL.gif);
	z-index:5;
}
.speakerR {
	float:right;
	position:relative;
	right:-20px;
	top:40px;
	cursor:crosshair;
	width:69px;
	height:106px;
	background-image:url(speakerR.gif);
	z-index:5;
}
.main {
	width: 513px;
	height:384px;
	margin:auto;
	margin-top:48px;
	background-color:#1E0000;
	padding:0;
	border-collapse: collapse;
}
.theunbearablefreak {
	width:100%;
	height:100%;
	background-color:#1E0000;
	background-image:url("freako.png");
	background-repeat:no-repeat;
	background-position-x: center;
	background-position-y: center;
	z-index:50000;
	position:absolute;
	top:0;
	left:0;
	pointer-events: none;
	opacity:0;
	animation-name:freak;
	animation-duration:0.15s;
	animation-direction:reverse;
	text-align:center;
}
#displ {
	font-size:64px;
	margin-top:22%;
}
@keyframes freak {
	from {opacity:0;}
	to {opacity:0.9;}
}
.movie {
	color:#685A5A;
	font-family:arial;
	font-size:16px;
	width:512px;
	height:auto;
	margin:auto;
	margin-top:50px;
	text-align:center;
	transform:scaleY(2);
	line-height:0.7;
}
.movie p {
	margin-top:4px;
	text-indent:12px;
}
.movie a {
	text-decoration:none;
}
.movie a:hover {
	text-decoration:underline;
}
.movieass {
	width:388px;
	height:33px;
	margin:auto;
	margin-top:45px;
	background-image:url(mobie.png);
	background-size:100%;
}
h2 {
	font-size:10px;
	display: inline-block;
	font-weight:normal;
}
.borderl {
	width:30%;
	height:100%;
	z-index:-5;
	background-image:linear-gradient(to right,rgba(22,0,0,255),rgba(22,0,0,255),rgba(0,0,0,0));
	position:absolute;
	left:0;
	top:0;
}
.borderr {
	width:30%;
	height:100%;
	z-index:-5;
	background-image:linear-gradient(to left,rgba(22,0,0,255),rgba(22,0,0,255),rgba(0,0,0,0));
	position:absolute;
	right:0;
	top:0;
}
.navcont {
	width:auto;
	position:relative;
	transform:translate(-50%);
	left:50%;
	top:-4px;
	display:inline-block;
}
.navbar {
	height:32px;
	list-style-type:none;
	margin:auto;
}
.navburger {
	height:16px;
	outline:1px solid #685A5A;
	background-color:#1E0000;
	color:#BC0000;
	padding-top:3px;
	padding-left:16px;
	padding-bottom:3px;
	padding-right:16px;
	text-align:center;
	display:inline-block;
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
}
.navburger:hover {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
}

/* critters */
.crittersBox {
	width:256px;
	height:384px;
	float:left;
	outline:1px solid #685A5A;
}
.tile {
	width:128px;
	height:128px;
	float:left;
	outline:1px solid #685A5A;
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
}
.tile:hover {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
}

/* news */
.newsBox {
	width:256px;
	height:384px;
	outline:1px solid #685A5A;
	float:right;
}
.supernews {
	height:334px;
	width:auto;
	overflow-y:scroll;
	background-color:#1E0000;
	-ms-overflow-style: none;
	scrollbar-width: none;
	padding-left:18px;
	padding-right:18px;
	padding-top:18px;
}
.supernews p {
	margin-top:4px;
	text-indent:12px;
}
.supernews::-webkit-scrollbar {
	display:none;
}
.newsheader {
	height:32px;
	width:auto;
	background-color:#BC0000;
	font-family:impact;
	color:#1E0000;
	text-align:center;
	border-bottom:1px solid #685A5A;
}
.newsheader p {
	transform:skewX(17deg);
	margin:0;
	font-size:40px;
	position:relative;
	bottom:8px;
}
.updateme {
	width:auto;
	height:auto;
	margin-bottom:24px;
	text-align:justify;
	text-justify:inter-word;
}

/*=======*/
/* zines */
/*=======*/

.zinerow {
	width:100%;
	height:256px;
}
.zineframe {
	width:576px;
	height:548px;
	background-color:#1E0000;
	margin:auto;
	border:1px solid #685A5A;
	padding:0;
	overflow-y:scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.zinetile {
	width:192px;
	height:256px;
	outline:1px solid #685A5A;
	float:left;
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
}
.zinetile:hover {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
}
.zineheader {
	margin:auto;
	margin-top:76px;
	width:576px;
	height:64px;
	background-color:#BC0000;
	outline:1px solid #685A5A;
	text-align:center;
}
.zineheader p {
	transform:skewX(17deg);
	font-size:80px;
	color:#1E0000;
	font-family:impact;
	position:relative;
	bottom:18px;
}
.zinefooter {
	width:100%;
	height:35px;
	text-align:center;
	overflow:hidden;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:16px;
	background-color:#BC0000;
	border-top:1px solid #685A5A;
	color:#1E0000;
}
.minirotty {
	width:196px;
	height:80px;
	background-image:url("rotgut.png");
	background-size:100%;
	margin:auto;
	margin-top:64px;
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
}
.minirotty:hover {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
}
.ling {
	width:100%;
	height:100%;
}
.minireturn {
	width:60px;
	height:16px;
	margin:auto;
	position:relative;
	bottom:16px;
	background-color:#BC0000;
	outline:1px solid #1E0000;
	font-size:16px;
	color:#1E0000;
	text-align:center;
	pointer-events:none;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
}
.bunnyboof {
	position:relative;
	left:465px;
	top:300px;
	z-index:5000;
	width:209px;
	height:260px;
	background-image:url(bunnyboof.png);
	cursor:crosshair;
}
.bunnyboof:hover {
	animation-name:boofkill;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
}
@keyframes boofkill {
	0% {transform:scaleX(1);}
	50% {transform:scaleX(-1);}
	100% {transform:scaleX(1);}
}